<link rel="stylesheet" type="text/css" media="all"  href="/css/style.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="../public/js/websockets.js"></script>

<page size="A4">
  <textarea id="document">{{.Text}}</textarea>
</page>