<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>

    <!-- Tiny MCE - a lightweight texteditor js lib -->
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>

    <!-- FileSaver JS used for saving files to local drive -->
    <script src="js/FileSaver.js"></script>

    <!-- Header javascript -->
    <script src="js/header-scripts.js"></script>

    <!-- Main CSS file -->
    <link rel="stylesheet" href="css/style.css" >
  </head>

  <body id="editor_body">
    <button id="release_btn">RELEASE KEY</button>

    <div class="client_pad">
    </div>

    <div class="footer">
      V0.1
    </div>

    <div class="mce-doc">
      <textarea id="tiny_content" />
    </div>

    <!-- Body javascript -->
    <script src="js/body-scripts.js"></script>
  </body>
  

</html>